body {
    font-family: "Verdana", sans-serif;
    color: #fff;

}

body {
    /* Set the background image URL, size, position, and other properties */
    background-image: url('/chicago.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* Add position: relative to body */

}

body::before {
    /* Create a pseudo-element for the background image */
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    /* Set the opacity of the pseudo-element (0.1 for 10% opacity) */
    z-index: -1;
    /* Set z-index to -1 to position the pseudo-element behind the contents */

}

